* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f2eae0;
  color: #3b2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  width: 100%;
}

.main-content {
  width: 100%;
  max-width: 23rem;
  margin: auto;
}

.top-padding {
  padding-top: 150px;
}

@media (max-height: 825px) {
  .top-padding {
    padding-top: 50px;
  }
}

.top-padding-poster {
  padding-top: 20px;
}

@media (min-height: 1230px) {
  .top-padding-poster {
    padding-top: 60px;
  }
}

h1 {
  font-size: 2.9em;
  line-height: 1;
}

h2 {
  padding-bottom: 5px;
}

h3 {
  line-height: 0.5;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cee8ea;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #3b2f2f;
  width: 100%;
}
button:hover {
  background-color: #97cbcf;
}

.button-container {
  padding-top: 25px;
}

.desc {
  white-space: pre-wrap;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.berry-icon {
  width: 25px;
  height: 25px;
  vertical-align: text-top;
}

.app-header {
  top: 10px;
  left: 10px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  text-align: left;
  font-weight: 500;
}

.form-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #3b2f2f;
}

.view-title {
  padding-bottom: 20px;
  text-align: center;
}

@keyframes loadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  animation: loadingAnimation 1s infinite;
}

.bounty-poster {
  width: 100%;
  height: auto;
}

.poster-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.error {
  color: #a62700;
}
