:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f2eae0;
  color: #3b2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-top: 70px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.9em;
  line-height: 0.5;
}

h3 {
  line-height: 0.5;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cee8ea;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #3b2f2f;
}
button:hover {
  background-color: #97cbcf;
}

.desc {
  white-space: pre-wrap;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.berryIcon {
  width: 25px;
  height: 25px;
  vertical-align: text-top;
}
